<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <application
        android:name=".EmulatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFCTag"
        tools:targetApi="31">
        <activity
            android:name=".setting.transferkey.device.DeviceSyncKeyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.TransferKeyActivity"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_oem_server"
            android:label="@string/app_name_transferkey"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".emulator.vehicle.EmulatorCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_emulator_car"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NFCTag.Fullscreen" />
        <activity
            android:name=".emulator.endpoint.NFCEmulationCardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>